<ng-container *ngIf="gameState$ | async ; let gameState">
    <h2>
        {{GetTitle(gameState)}}
    </h2>
    <div style="width: 15%; float: left;">
        <mat-card>
        <div style="padding-bottom: 16px;" *ngIf="GetResources(gameState) ; let resources"> 
           <h3 style="font-weight: bold;" >
                {{'categories.Resources' | translate}} <span (click)="toggle('Resources')" style="cursor: pointer;">{{isExpanded('Resources')?'-':'+'}}</span>
           </h3>
           <ng-container *ngIf="isExpanded('Resources')">


           <div style="padding-left: 15px;" *ngFor="let value of resources ; trackBy: trackByFn">
                <span style="font-weight: bold;color: #673ab7;">{{value.name | translate}} :</span> {{value.value}} {{value.info?('(' + value.info + ')'):''}}
           </div>
        </ng-container>
        </div>
        <div style="padding-bottom: 16px;" *ngIf="GetSkills(gameState) ; let skills">
            
            <h3 style="font-weight: bold;" *ngIf="skills.length > 0" >
                 {{'categories.Skills' | translate}} <span (click)="toggle('Skills')" style="cursor: pointer;">{{isExpanded('Skills')?'-':'+'}}</span>
            </h3>
            <ng-container *ngIf="isExpanded('Skills')">

          
            <div *ngFor="let skill of  skills ; trackBy: trackByFn">
                <h4 style="font-weight: bold;padding-top: 10px;padding-left:10px">
                    {{skill.name | translate}} <span (click)="toggle(skill.name)" style="cursor: pointer;">{{isExpanded(skill.name)?'-':'+'}}</span>
                </h4>
                <ng-container *ngIf="isExpanded(skill.name)">
                <div style="padding-left: 20px;" *ngFor="let value of skill.descriptions; trackBy: trackByFn">
                    <span style="font-weight: bold;color: #673ab7">{{value.name | translate}} :</span> {{value.value}} {{value.info?('(' + value.info + ')'):''}}
                </div>
                </ng-container>
            </div>
        </ng-container>
         </div>
    </mat-card>


    </div>
 <div style="width: 60%; float: left;">
    <mat-card>
<known-locations [gameState]="gameState">

</known-locations>
</mat-card>
</div>
<div style="width: 25%; float: left;" >
    <mat-card>
    <table width="100%">
        <thead>
            <tr>
            <th>
               
                {{"adventuring.Day" | translate}} {{gameState.adventure.days}}
               
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                {{"adventuring.Feeling" | translate}}: {{(gameState.adventure.eventCooldownReducer > 0? 'adventuring.feelings.Energized':'adventuring.feelings.Normal')  | translate}}
            </tr>
            <tr>
                <button mat-raised-button color="primary" (click)="getAdventure()" [disabled]="gameState.adventure.coolDown > 0">
                    {{"buttons.adventure" | translate }} {{gameState.adventure.coolDown > 0?(("adventuring.inDays" | translate) | stringFormat: [gameState.adventure.coolDown]):''}}
                </button>
                <button mat-stroked-button (click)="viewStory(gameState)">{{"buttons.story" | translate }}</button>
            </tr>

            <tr *ngFor="let msg of (messages$ | async)">
                <td>
                    {{msg.text | translate | stringFormat: msg.args}}
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>
    
</div>
</ng-container>